/* ---------------------Footer Section-------------------- */

.SLA_footer {
    background: #0E031A;
    padding-top: 120px;
}

.s_footerContent {
    color: #EEE;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
}

.SLA_footer ul li {
    color: #EEE;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.SLA_footer h3 {
    color: #EEE;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.SLA_socialAnchor {
    color: #EEE;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none !important;
    transition: all 0.1s ease;
    cursor: pointer;
}

.SLA_socialAnchor:hover {
    color: #EEE !important;
}

.SLA_Line2233{
    border-top: 2px solid #242424;
   
}
.SLA_copyWrite {
    padding: 20px 0px;
}

.SLA_copyWrite p {
    color: #EEE;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.SLA_socialmedia {
    display: flex;
    justify-content: right;
    gap: 10px
}

.SLA_btn23 {
    border: none;
    background: none;
}

.SLA_socialmedia img {
    color: #FFFFFF;
}
