*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;;
}

.mainSection{
    background: rgba(95, 73, 138, 0.80);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Popup{
    border-radius: 20px;
background: #FFF;
box-shadow: 0px 20px 20px 5px rgba(0, 0, 0, 0.10);
width: 555px;
height: 358px;
margin: auto;
margin-top: 150px;
}
.Close{
    display: flex;
    justify-content: right;
    padding: 10px;
}

#closeButton{
    border: none;
    background: none;
}

.Assign{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
   
}

.asignButton{
    width: 209px;
    height: 73px;
    border-radius: 10px;
background: #5F498A;
padding: 10px;
color: #FFF;
font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.asignButton:hover{
    color: #FFF;
    background: #b29ddd;
}