.cp_mainArea{
    display: flex;
    justify-content: center;
    
}


.cp_MainCOntent{
    min-width: 800px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.cp_createNew{    
    color: #5F498A;
    font-family: Nunito;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.cp_Form{
    margin: auto;
}

.cp_Currentpassword{
    color: #5F498A;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}

.cp_textArea{
    border: 1px solid #5F498A;
    border-radius: 5px;
    min-width: 450px;
}

.cp_newPassword{
    color: #5F498A;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cp_retypePassword{
    color: #5F498A;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cp_Reset{
    border:1px solid #5F498A;
    border-radius: 5px;
    background: #5F498A;
    color: #fff;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-width: 450px;
}

.cp_Reset:hover{
    color: #fff;
    background: #c7b5eb;
    border: none;
}

/* ----------------------------------------Responsive---------------------------------- */


@media screen and (max-width:816px) {
    .cp_MainCOntent{
        min-width: 600px;
    }
}
@media screen and (max-width:626px) {
    .cp_MainCOntent{
        min-width: 550px;
    }
}
@media screen and (max-width:560px) {
    .cp_MainCOntent{
        min-width: 480px;
    }
}
@media screen and (max-width:505px) {
    .cp_MainCOntent{
        min-width: 380px;
    }

    .cp_createNew{
        font-size: 32px;
    }
    .cp_Form{
        display: grid;
        justify-content: center;
    }

    .cp_textArea, .cp_Reset{
        min-width: 300px;
    }
}

@media screen and (max-width:488px) {

    .cp_Form{
        display: grid;
        justify-content: center;
    }
    .cp_textArea{
        min-width: 300px;
    }
    .cp_Reset{
        min-width: 300px;
    }
    
}

@media screen and (max-width:446px) {

    .cp_createNew{
        font-size: 32px;
    }
    
}

@media screen and (max-width:399px) {

    .cp_createNew{
        font-size: 28px;
    }
    .cp_MainCOntent{
        min-width: 300px;
    }
    
    .cp_Form{
        display: grid;
        justify-content: center;
    }
    .cp_textArea{
        min-width: 250px;
    }
    .cp_Reset{
        min-width: 250px;
    }
}
@media screen and (max-width:346px) {

    .cp_createNew{
        font-size: 28px;
    }
    
}
@media screen and (max-width:333px) {

  .cp_textArea{
    min-width: 200px;
  }
  .cp_Reset{
    min-width: 235px;
  }
    
}